 /* RESET */
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0
 }

 header {
    background-color: #ADD8E6;
    min-height: 50px;
    padding: 15px;
 }


 .hdiv {
    background-color: #DAA520;
    border: 1px dashed black;
 }

 .hdiv.A {
    flex-grow: 1;
 }

 .hdiv.B {
    flex-grow: 4;
 }

 .hdiv.C {
    flex-grow: 1;
 }

 .big-conteiner {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
 }


 .lil-container {
    width: 60%;
    max-width: 825px;
    margin: 0 auto;
    min-height: 250px;
    background-color: #EE82EE;
    border: 2px black;
    border-style: dashed;

 }

 .blu-div {
    min-height: 300px;
    display: flex;
    align-items: center;
    background-color: #00008B;
    border-bottom: 4px solid #ADD8E6;
 }

 .white-bg-flex {
    background-color: white;
    min-height: 300px;
    display: flex;
    align-items: center;
 }

 .gray-bg-flex {
    background-color: #D3D3D3;
    display: flex;
    align-items: center;
 }

 .gray-bg-flex.A {
    min-height: 300px;
 }

 .gray-bg-flex.B {
    min-height: 550px;
 }

 .item {
    border: 2px dashed black;
    min-height: 250px;
 }

 .item.blu {
    background-color: #1E90FF;
    flex-grow: 3;
 }

 .item.pink {
    background-color: #FFC0CB;
    flex-grow: 2;
 }

 .item.green {
    background-color: green;
    min-height: 500px;
    flex-grow: 1;
 }


 .dark-grey-bg-flex {
    background-color: #23272A;
    display: flex;
    align-items: center;
 }

 .dark-grey-bg-flex.B {
   min-height: 330px;
   align-items: flex-start;
   padding: 5px;
 }

 .dark-grey-bg-flex.A {
   min-height: 50px;
   align-items: flex-end;
 }

 .item.coral{
   background-color: #F08080;
   min-height: 300px;
   flex-grow: 3;
 }

 .item.verde-strano{
   background-color:#20B2AA;
   min-height: 300px;
   flex-grow: 2;
   border: 2px dashed white;
 }

 hr{
   color: white;
 }